/* Navbar styles */
.Navbar {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    text-align: center;
  }
  
  /* Heading styles */
  h2 {
    color: #2c3e50;
  }
  
  /* Paragraph styles */
  p {
    color: #34495e;
    font-size: 18px;
    line-height: 1.5;
  }
  